
{% extends 'main.html' %}

{% block content %}

<style>
    .home_sidebar {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;        
    }
</style>

<hr>
<h1 align="center">The Chat Rooms</h1>

<hr>
<div class="home_sidebar">
    <div>
        {% include 'base/topics_component.html' %}
    </div>

    <div>
        <div><a href="{% url 'room-form' %}">Create Room</a></div>
        <b>{{ room_count }} room(s) available</b><br/><br/>
        {% include 'base/feed_component.html' %}
    </div>
    <div>
       {% include 'base/activity_component.html' %}
    </div>
</div>
{% endblock content %}